.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #06283D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 999;
    position: sticky;
}

.topbarLeft {
    flex: 3;
    margin: 10px;
}

.logo {
    font-weight: bolder;
    font-size: 35px;
}

.topbarCenter {
    flex: 5;
}

#search {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    border: none;
}

#search:focus {
    outline: none;
}

.topbarRight {
    margin: 10px;
}

#loginBtn {
    padding: 8px 12px 8px 12px;
    border-radius: 12px;
    background-color: aqua;
}